@import "./reset.css";

html{
    color: black;
    overflow-y: hidden;
    /* overflow-x: hidden; */
}


/* -------------------------*/
/*-------- NAV BAR ---------*/
/* -------------------------*/

.navbar{
   font-size: 90%;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}

.navbar li a{
    display: block;
    text-decoration: none;
    color: black;
    margin: 30px 20px 0 0;
    
}

.navbar img{
    height: 30px;
    opacity: 0.5;
}

.navbar #sign-in-btn{
    background-color: #4285f4;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}

.navbar li a:hover{
    text-decoration:underline;
}

.navbar img:hover{
    opacity: 1;
}

/* -------------------------*/
/* ---- SEARCH SECTION -----*/
/* -------------------------*/

.logo{
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 30px;
}


.search-section{
    text-align: center;
}

.search-bar{
    position: relative;
    margin-bottom: 30px;
}

.search-section input[type=text]{
    width: 36%;
    margin: 0 32%;
    font-size: 20px;
    padding: 10px 10px 10px 3%;
    outline: none;
    border: 0.5px rgba(160, 154, 154, 0.5) solid;
    border-radius: 20px;
}

.search-bar img{
    position: absolute;
    /* background-color: red; */
}

.search-bar #search-logo{
    height: 40%;
    padding: 14px;
    top: 0px;
    left: 32%;
}

.search-bar #mic-logo{
    height: 55%;
    padding: 10px;
    padding-right: 14px;
    top: 0px;
    left: 68.5%;
    cursor: pointer;
}

.search-section input[type=text]:hover, .search-section input[type=text]:focus{
    box-shadow: 3px 4px 10px #e0e0e0, -2px -3px 10px #e0e0e0;
}

.search-section button{
    padding: 8px 15px;
    margin: 0 10px;
    background-color:whitesmoke;
    border: 0.5px solid whitesmoke;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    
}

.search-section button:hover{
    box-shadow: 1px 0px 2px #e0e0e0;
    border: 0.5px solid rgb(212, 203, 203)
}

/* -------------------------*/
/* ------- FOOTER ----------*/
/* -------------------------*/

footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #f2f2f2;
    /* height: 5vh; */
}

footer .container1{
    float: left;
    font-size: 16px;
    margin: 12px;
}

footer .container2{
    float: right;
    font-size: 16px;
    margin: 12px;
    margin-right: 20px;
}

footer a{
    text-decoration: none;
    color:rgb(83, 71, 71);
    margin-left: 20px;
}

footer a:hover{
    text-decoration: underline;
}